<%= turbo_frame_tag "cart" do %>
  <aside id="default-sidebar" class="fixed top-0 right-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
      <div class="flex justify-center mb-4">
        <p class="text-center">Subtotal: <%= number_to_currency(@cart.total) %></p>
      </div>
      <div class="flex justify-center mb-4">
        <%= link_to "Go to Cart", cart_path, class: "max-w-sm w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex items-center justify-center", style: "cursor: pointer;" %>
      </div>
      <div class="border-b border-gray-300 mb-4"></div>
      <ul class="space-y-2 font-medium">
        <%= render partial: "cart/orderables", locals: { cart: @cart } %>
      </ul>
    </div>
  </aside>
<% end %>
