<div class="bg-white ml-52">
  <div class="max-w-7xl mx-auto mb-10">
    <div class="flex items-center justify-between">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900">
        Your Order<%= @orders.count > 1 ? "s" : "" %>
      </h1>
    </div>

    <br/>

    <div id="orders" class="min-w-full ml-36">
      <% @orders.each_with_index do |order, index| %>
        <%= render order %>
        <% unless index == @orders.size - 1 %>
          <br/>
          <div class="border-t border-gray-200 my-4"></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
